@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');




:root {
    --cor5: #424242;
    --cor4: #467560;
    --cor3: #8DDDB8;
    --cor2: #2CDBBA;
    --cor1: #f6d9bf;

    --fontePadrao: Arial, Verdana, Helvetica, sans-serif;
    --fonteDestaque: 'Orbitron', sans-serif;
}


 * {
     margin: 0;
     padding: 0;
 }

body{
    background-color: var(--cor1);
    font-family: var(--fontePadrao);
}

header > h1 {
    color: white;
    font-family: var(--fonteDestaque);
    background-color: var(--cor4);
}

header > p {
    color: white;
    background-color: var(--cor4);

}

nav > {
    background-color: var(--cor5);
    color: white;
}

main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px ;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 0.55);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main > h1 {
    color: var(--cor5);
    font-family: var(--fonteDestaque);
}

main > h2 {
    font-family: var(--fonteDestaque);
}
main img{
    width: 100%;
}
main img.pequena{
    width: 30%;
    display: block;
}

footer {
    background-color: var(--cor5);
    color: white;
}