@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');




:root {
    --cor5: #424242;
    --cor4: #467560;
    --cor3: #8DDDB8;
    --cor2: #2CDBBA;
    --cor1: #adadad;

    --fontePadrao: Arial, Verdana, Helvetica, sans-serif;
    --fonteDestaque: 'Orbitron', sans-serif;
}

 * {
     margin: 0;
     padding: 0;
 }

body{
    background-color: var(--cor1);
    font-family: var(--fontePadrao);
}

main > p {
    margin: 15px 0px;
    text-align: justify;
}

header{
    background-image: linear-gradient(to right, var(--cor5), var(--cor4));
    min-height: 150px;
    text-align: center;
    padding-top: 50px;
}

header > h1 {
    color: white;
    font-family: var(--fonteDestaque);
    font-size: 3em;
    text-shadow: 2px 2px 4px rgb(0 0 0 / 0.47);

}

header > p {
    font-family: var(--fontePadrao);
    font-size: 1.2em;
    color: white;
    max-width: 500px;
    margin: auto;
    padding: 20px;
    text-shadow: 2px 2px 4px rgb(0 0 0 / 0.47);
}

nav  {
    background-image: linear-gradient(to right, var(--cor5), var(--cor4));
    padding: 10px;
    box-shadow: 0px 7px 9px rgb(0 0 0 / 0.41);
}

nav > a {
    color: white;
    padding: 10px;
    text-decoration: none;
    font-weight: bolder;
    border-radius: 10px;
}
nav > a:hover {
    background-color: var(--cor3);
    color: black;
}

main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px ;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 0.55);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main  h1 {
    color: var(--cor5);
    font-family: var(--fonteDestaque);
}

main  h2 {
    font-family: var(--fonteDestaque);
}

main  p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 1.5em;
}
main strong {
    color: var(--cor5);
    font-weight: bold;
    background-color: var(--cor1);
    padding: 2px 6px;
}

main img{
    width: 100%;
}
main img.pequena{
    width: 30%;
    display: block;
}

footer {
    background-color: var(--cor5);
    color: white;
}