@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}
body {
    background-image: linear-gradient(to right, #FEE3F4, #97D4FA );
}
main {
    background-color: white;
    border-radius: 20px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1  {
    color:#102919;
    text-align: center;
    text-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
}
h2  {
    color:#575461;
}

p {
    text-align: justify;
}