@charset "UTF-8";

/*
    em HTML é id = em CSS é #
    em HTML é class = em CSS é .
 */
body{
    background-color: rgb(163 163 246 / 0.66);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: black;
}

h2 {
    color: black;
}

h1#principal {
    text-align: center;
    background-color: rgb(11 15 230 / 0.26);
    color: black;
}

.basico{
    color: #4e9b54;
}

.intermediario {
    color: rgb(66 66 237 / 0.4);
}

.avancado {
    color: #f67270;
}

.destaque {
    background-color: #f65070;
}